{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">{{ title }}</h4>
        </div>
        <div class="card-body">
           <form method="post" action="{{ url_for('certificate_edit', cert_id=cert_state.id) }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                     {{ form.domain.label }}
                     {{ form.domain(class="form-control") }}
                      {% for error in form.domain.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                </div>
                <div class="mb-3">
                      {{ form.port.label }}
                      {{ form.port(class="form-control") }}
                       {% for error in form.port.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{{ url_for('certificates') }}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}