{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">{{ title }}</h4>
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('website_edit', website_id=website_state.id) }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.url.label }}
                    {{ form.url(class="form-control") }}
                     {% for error in form.url.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                     {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{{ url_for('websites') }}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}